@import "./Media.scss";
@import "./Vars.scss";

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100%;
    margin: 0px;
    padding: 0;
    background-color: $main-color;
    font-family: $theme-font;
    box-sizing: content-box;
    font-size: 10px;
}

.invert {
    filter: invert(100%);
}

.mr-1 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}