//carousel item
.carousel-item {
    position: relative;
    width: 15rem;
    height: 20rem;
    border-radius: 20px;
    background-color: rgba(231, 114, 71, 0.822);
    margin-right: 1.5rem;
    color: white;
    transition: ease-in .5s;
    transform-origin: center left;
    overflow: hidden;
}

.carousel-item:hover~.carousel-item {
    transform: translate3d(2rem, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: scale(1.2);
}
.carousel-item:hover .carousel-item__details{
    display: block;
 
}

.carousel-item__background {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.carousel-item__details {
    font-size: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    display: none;
    transition:1s all;
}

.carousel-item__details--wrapper {
    display: inline;
}

.carousel-item__details--wrapper img {
    width: 1.5rem;
    cursor: pointer;
}

.carousel-item__details--wrapper img:first-child {
    margin-right: 1rem;
}