
@media (max-width:650px) {
    .header {
        padding: 0.5rem;
    }
    .header__logo--text {
        font-size: 1rem;
    }
}

@media only screen and (max-width:600px){
    .header{
      width: 100vw;
      overflow: hidden!important;
    .link{margin: auto 0;}
  }
    .header__menu--profile p{
      display: none!important;
  }
  .header__menu--profile ul{
      width: 5rem!important;
  }

    .main{
       height: 300px!important;
   }
    .body{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer{
        justify-content: flex-start;
        align-items: flex-start!important;
        flex-direction: column;
        padding: 1rem 0.5rem;
        height: auto!important;
    }
    .carousel-item {
        width: 150px!important;
        height: 200px!important;
    }
    .categories__title {
        font-size: 1rem!important;
        width: 100%;
        margin-top: 2rem;
    }

}
@media only screen and (max-width:420px){
     .header {
        padding: 0rem;
    }
    .header__logo--img {
        width: 1.5rem!important;
    }
    .header__logo--text {
        font-size: 1.5rem!important;
    }   
    .header__menu--profile img {
    width: 1.5rem!important;
    }
}